<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.toppush.client.core">
    <!--Top PUSH-->
    <permission android:name="${PACKAGE_NAME}.permission.TOPPUSH_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="${PACKAGE_NAME}.permission.TOPPUSH_RECEIVE" />


    <application>

    </application>

</manifest>
